<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/signup.css">
    <title>Sign Up</title>
</head>
<body class="font-mulish bg-[#3c3d44]">
    <div class="flex">
        <section class="left-wrapper flex flex-row w-7/12 bg-[#3c3d44] px-32 py-20 h-screen">
            <div class="flex flex-col justify-between">
                <div class="text-gray-300 text-4xl font-extralight">
                    <p>Money Management &copy;</p>
                </div>
                <div class="text-gray-100">
                    <div class="text-xl font-light mb-4">
                        <p>A one stop solution</p>
                        <p>for your personal finances!</p>
                    </div>
                    <div class="text-gray-300 text-l font-light">
                        <p>Get graphical representations of your spendings,</p>
                        <p>monthly comparisons, estimations for the next month,</p>
                        <p>all in one place with a minimalistic user experience!</p>
                    </div>
                </div>
                <div class="text-gray-100">
                    <div class="flex flex-row justify-between">
                        <p>&copy; Harshvardhan Kedare 2022</p>
                        <p><a href="https://github.com/Harshvardhan1809" target="_blank" class="p-2 text-md">About Me</a></p>
                    </div>
                </div>
            </div> 
        </section>
        <section class="right-wrapper flex flex-row w-5/12  h-screen bg-signup-background bg-cover bg-center grayscale saturate-0">
            <div class="wrapper w-full h-full bg-gray-700 mix-blend-overlay backdrop-opacity-30">
                <div class="m-40">
                    <form action="">
                        <div class="flex flex-col w-full">
                            <label for="username" class="text-white mb-2">Username</label>
                            <input type="email" placeholder="Enter your username" class="mt-2 mb-5 w-content text-white text-md rounded-md px-3 py-2 placeholder:text-white font-bold bg-black">
                        </div>
                        <div class="flex flex-col w-full">
                            <label for="password" class="text-white mb-2">Password</label>
                            <input type="password" placeholder="Enter your password" class="mb-5 w-content text-md text-white rounded-md px-3 py-2 placeholder:text-white bg-black font-bold ">
                        </div>
                        <button type="submit" class="block text-md text-white rounded-md bg-black px-5 py-2 mx-auto mt-5">Submit</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>
</html>

<!-- 
    mix-blend-overlay backdrop-opacity-30
-->