<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
</head>
<body>
    <h2>Settings</h2>
    <h4><a href="{% url "dashboard:home" %}">Back to Dashboard</a></h4>
    <h3><a href="{% url "settings:account_delete" pk=request.user.id %}">Delete Account</a></h3>
    <h3><a href="">Terms and Conditions</a></h3>
    <h3><a href="">Dark/Light Mode</a></h3>
    <h3><a href="">About Us</a></h3>

</body>
</html>