<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% comment %} <link rel="stylesheet" href="/money_management/frontend/static/post_css/output.css" type="text/css"  crossorigin="anonymous" referrerpolicy="no-referrer"> {% endcomment %}
    <link rel="stylesheet" href="./../../static/post_css/output.css" type="text/css"  crossorigin="anonymous" referrerpolicy="no-referrer">
    <title>Money Management</title>
</head>
<body>
    <div id="app" class="flex flex-col"></div>
    {% load static %}
    <script src="{% static "frontend/main.js" %}"></script>
    <script src="{% static "utilities/dashboard-sidebar.js" %}"></script>
    <script src="{% static "utilities/dummy_divs.js" %}"></script>
    <script src="{% static "utilities/settings.js" %}"></script>
</body>
</html>